**Extract data from any dataset using python**

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("RollNo.csv")

In [ ]:
df

   Roll No       Names
0        1   K.Supriya
1        2  K.Spandana
2        3  S.Sindhuja
3        4      A.Vani
4        5     Sravani
5        6   Harshitha
6        7     Deepika
7        8     Srinika
8        9     Ashwini
9       10    Poojitha

In [ ]:
import sqlite3

In [ ]:
conn = sqlite3.connect('TestDB.db')

In [ ]:
cursor = conn.cursor()

In [ ]:
cursor.execute("SELECT * FROM STUDENT")

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'SUPRIYA')
(2, 'VANI')
(3, 'SINDHU')
(4, 'SPANDANA')

In [ ]:
cursor.execute("INSERT INTO STUDENT VALUES (5, 'SRAVANI')")

In [ ]:
conn.commit()

In [ ]:
cursor.execute("SELECT * FROM STUDENT")

rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'SUPRIYA')
(2, 'VANI')
(3, 'SINDHU')
(4, 'SPANDANA')
(5, 'SRAVANI')

**The probability that it is Friday and that a student is absent is 3 %. Since there are 5 school days in a week, the probability that it is Friday is 20 %. What is the probability that a student is absent given that today is Friday? Apply Bayeâ€™s rule in python to get the result.**

In [ ]:
P_FRIDAY = 0.2

In [ ]:
P_FRIDAY_ABSENT = 0.03

In [ ]:
P_AB_GIVEN_FRIDAY = P_FRIDAY_ABSENT / P_FRIDAY
P_AB_GIVEN_FRIDAY

0.15